<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <!-- PLACAR -->
    <div class="navbar-brand">
        <span>
            <% if(nome){ %>
            <%= nome %>:
            <% }else{ %>
            Player:
            <% } %>
        </span>
        <span id="jogadorPontuacao">0</span>

        <span class="mx-2">|</span>

        <span>Computador:</span>
        <span id="computadorPontuacao">0</span>
    </div>

    <!-- MENU HAMBURGUER -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#botoes">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BOTOES -->
    <div class="collapse navbar-collapse" id="botoes">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="" class="nav-link"></a>
            </li>
        </ul>

        <!-- INPUT SALVAR PONTUAÇÃO -->
        <form class="form-inline" method="POST" action="/salvarRanking">
            <input type="hidden" name="jogador" value="
            <% if(nome){ %>
                <%= nome %>:
                <% }else{ %>
                Player
                <% } %> ">
            <input type="hidden" name="pontuacao" id="pontuacao">
            <button type="text" class="btn btn-danger mr-2">Salvar Pontuação</button>
        </form>

        <form class="form-inline">
            <!-- Modal -->
            <button type="button" class="btn btn-danger mr-2" data-toggle="modal"
                data-target="#modalRegras">Regras</button>
            <a href="/" class="btn btn-danger text-light">Sair</a>
        </form>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalRegras">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Regras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="h6">Regras do jogo:</span>
                    <ul>
                        <li>Pedra empata com Pedra e ganha de Tesoura</li>
                        <li>Tesoura empata com Tesoura e ganha de Papel</li>
                        <li>Papel empata com Papel e ganha de Pedra</li>
                    </ul>
                    <span class="h6">Regras de pontuação:</span>
                    <ul>
                        <li>Cada partida possui 6 rodadas</li>
                        <li>Vitoria: 3 pontos</li>
                        <li>Derrota: -1 ponto</li>
                        <li>Empate: 1 ponto</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</nav>