<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <!-- PLACAR -->
    <div class="navbar-brand">
        <span > <%= nome %>: </span>
        <span id="jogadorPontuacao">0</span>

        <span class="mx-2">|</span>

        <span>Computador</span>
        <span id="computadorPontuacao">0</span>
    </div>

    <!-- MENU HAMBURGUER -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#botoes">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BOTOES -->
    <div class="collapse navbar-collapse" id="botoes">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="" class="nav-link"></a>
            </li>
        </ul>

        <form class="form-inline">
            <button type="text" class="btn btn-success mr-2">Salvar Pontuação</button>
            <button type="text" class="btn btn-danger">Sair</button>
        </form>
    </div>

</nav>