<%- include partials/header.ejs %>
<body id="home">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center"> <!-- TEXTO-->
            <div class="jumbotron mt-5 bg-info"> <!-- INICIO JUMBOTRON-->
              <h1 class="display-4">Jokenpô</h1>
              <p class="lead">
                  <span class="h5">As regras são as seguintes:</span>
                  <ul>
                    <li>
                        Pedra empata com Pedra e ganha de Tesoura
                    </li>
                    <li>
                        Tesoura empata com Tesoura e ganha de Papel
                    </li>
                    <li>
                        Papel empata com Papel e ganha de Pedra
                    </li>
                  </ul>
              </p>
            </div> <!-- FIM JUMBOTRON-->

            <div> <!-- INICIO FORMULÁRIO-->
              <form class="form-group formulario">
                  <input type="text" placeholder="Digite seu nome" class="form-control mb-2">
                  <button class="btn btn-dark btn-lg btn-block">Iniciar partida</button>
              </form>
            </div> <!-- FIM FORMULÁRIO-->
          </div>
        </div> <!-- FIM TEXTO-->

        <div class="col-md-6"> <!-- TABELA-->
          <div class="container mt-5 bg-info tabela">
              <h1 class="mb-4">Ranking</h1>
              <table class="table table-hover table-secondary">
                <tr class="bg-dark text-light">
                  <th>Nome</th>
                  <th>Pontuação</th>
                </tr>
                <tr>
                  <td>Thalita</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Carlos</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>Marcos</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>Ana</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Rafael</td>
                  <td>0</td>
                </tr>
              </table>
          </div>
        </div> <!-- FIM TABELA-->
      </div>
    </div>
  </section>
</body>
<%- include partials/footer.ejs %>