<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>
    <div class="container">

        <div class="bg-dark text-light" id="titulo">
           Pedra, Papel e Tesoura
        </div>

        <div class="mt-3" id="placar">
            <div id="jogador">
                <h2 class="text-center"><%= nome %></h2>
                <ul id="jogador-escolha">
                    <li><a id="jogador-escolha-1" onclick="jogar(1)" ><img src="/img/pedra.png"></a></li>
                    <li><a id="jogador-escolha-2" onclick="jogar(2)"><img src="/img/papel.png"></a></li>
                    <li><a id="jogador-escolha-3" onclick="jogar(3)"><img src="/img/tesoura.png"></a></li>
                </ul>
            </div>

            <span class="mx-3 h1">vs</span>

            <div id="computador">
                <h2 class="text-center">Computador</h2>
                <ul id="computador-escolha">
                    <li><a id="computador-escolha-1"><img src="/img/pedra.png"></a></li>
                    <li><a id="computador-escolha-2"><img src="/img/papel.png"></a></li>
                    <li><a id="computador-escolha-3"><img src="/img/tesoura.png"></a></li>
                </ul>
            </div>

        </div>

        <div class="bg-secondary" id="mensagens">
            Resultado
        </div> 

    </div>

</body>
<%- include partials/footer.ejs %>