<%- include partials/header.ejs %>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand ml-3">
            <span class="h5 d-inline">Computador: </span>
            <span class="h5">0</span>
        </div>
        <div class="float-right text-light">
            <span class="h5"><%= nome %>: </span>
            <span class="h5">0</span>
            <button class="btn btn-success mr-2 ml-4">Salvar Pontuação</button>
            <button class="btn btn-danger mr-3">Sair</button>
        </div>
    </nav>
    <section>
        <!-- INICIO JOGO -->
        <div class="container" id="jogo">
            <div class="row d-flex justify-content-center">
                <div>
                    <h1 class="text-center">Escolha uma opção</h1>

                    <a href="#"><img src="/img/pedra.png" alt="pedra"></a>
                    <a href="#"><img src="/img/papel.png" alt="papel"></a>
                    <a href="#"><img src="/img/tesoura.png" alt="tesoura"></a>
                </div>
            </div>
        </div>
    </section>
</body>
<%- include partials/footer.ejs %>