<%- include partials/header.ejs %>

<body>
    <section>
        <div class="container">
            <div class="row mt-4">
                <h4>Marcos</h4>
            </div>
            <div class="row">
                
            </div>
        </div>
    </section>
</body>
<%- include partials/footer.ejs %>